
<nav class="navbar navbar-light " id="header">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard">
        <img src="https://cdn0.iconfinder.com/data/icons/internet-2020/1080/Spotifyicon-512.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        SPOTIFY

      </a>
      <button   class="btn">
        <a routerLink="/login">LOGIN</a>
      </button>
      <button   class="btn">
        <a routerLink="/register">REGISTER</a>
      </button>

    </div>
  </nav>

  <router-outlet></router-outlet>
